<%- include('bars/head', {title: 'Ordini'}); %>
<%- include('bars/header'); %>
    <div w-include-html="../bars/header.html"></div>
    <div class="w-bg-h w-p-7">
        <div class="w-f-w-b w-f-s-70 w-ta-c w-intro w-c-bisque">Ordini Forniture</div>
        <div class="w-f-w-b w-f-s-20 w-ta-c w-capital w-m-t-4">ordini effettuati ordini ricevuti ordini da effetturare</div>
        <div class="w-p-t-4">
            <div class="w-w-100 w-h-20 w-bg-beige w-m-t-4 w-jc-sb w-f-s-20 w-f-w-b">
                <% for (var i = 0; i < title.length; i++) { %>
                    <div class=""><%= title[i].nome %></div>
                <% } %>
            </div>
            <div class="w-w-100 w-bg-beige">
                <% for (var i = 0; i < item.length; i++) { %>
                    <div class="w-w-100 w-jc-sb">
                        <div><%= item[i].nome %></div>
                        <div><%= item[i].prezzo %></div>
                        <div><%= item[i].quantità %></div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
<%- include('bars/footer'); %>
     