<%- include('bars/head', {title: 'Ordini'}); %>
<%- include('bars/header'); %>
    <div w-include-html="../bars/header.html"></div>
    <div class="w-bg-h w-p-7">
        <div class="w-f-w-b w-f-s-70 w-ta-c w-intro w-c-bisque">Ordini Forniture</div>
        <div class="w-jc-sa w-w-90">
            <div class="">
                <table class="w-p-t-4">
                    <thead class="w-bg-beige w-m-t-4 w-f-s-20 w-f-w-b">
                        <tr>
                            <% for (var i = 0; i < title.length; i++) { %>
                                <th class=""><%= title[i].nome %></th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody class="w-bg-beige">
                        <% for (var i = 0; i < item.length; i++) { %>
                            <tr>
                                <td><%= item[i].numero_ordine %></td>
                                <td><%= item[i].nome_ordine %></td>
                                <td><%= item[i].numero_prodotti %></td>
                                <td><%= item[i].prezzo %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div>
                <form action="/add" method="POST">
                    <input class="button w-col w-w-75 m-r-1" type="text" name="nom" placeholder="Nome Ordine...">
                    <input class="button w-col w-w-75 m-r-1" type="text" name="num" placeholder="Numero Prodotti...">
                    <button type="submit" class="button w-w-100">Ordina Prodotto</button>
                </form>
            </div>
        </div>
    </div>
<%- include('bars/footer'); %>
     