<%- include('bars/head', {title: 'Spedizioni'}); %>
<%- include('bars/header'); %>
    <div class="w-bg-h w-p-7">
        <div class="w-f-w-b w-f-s-70 w-ta-c w-intro w-c-bisque">Spedizioni</div>
        <div class="w-jc-c w-w-100">
            <div class="w-w-50 w-bg-beige w-m-t-4 w-f-s-20">
                <table class="w-p-t-5">
                <thead class="w-m-t-4 w-f-s-20 w-f-w-b">
                    <tr>
                        <% for (var i = 0; i < title.length; i++) { %>
                            <th class="w-w-20"><%= title[i].nome %></th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody class="">
                        <% if (item.length === 0) { %>
                            <td><%= "il magazzino è vuoto" %></td>
                        <% } %>
                        <% for (var i = 0; i < item.length; i++) { %>
                            <tr>
                                <td><%= item[i].nome %></td>
                                <td><%= item[i].quantità %></td>
                                <td><%= item[i].stato_ordine %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div> 
    </div> 
<%- include('bars/footer'); %>
